*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Hovedtittel {
    color: #023561;
    text-align: center;
}
.subtittel {
    color: #023561;
    text-align: center;
}
.Brodtekst {
    color: #023561;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.header {
    flex-direction: row;
    width: 100%;
    height: 10%;
    color: #023561;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    background-color: #BDF2F2;
    margin-top: none;
    display: flex;
}
body {
    background-color: #BDF2F2;
}
.headermenu {
    width: 100%;
    height: 100px;
    color: #023561;
    flex-direction: row;
    display: flex;
    align-content: space-between;
    list-style: none;
    justify-content: space-around;
}
.knapp {
    border-color: #023561; 
    background-color: #BDF2F2;
    padding-left: 142px;
    padding-right: 142px;
    padding-top: 10px;
    padding-bottom: 10px;
}
